In [21]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col='지원번호')
df.sort_index(ascending=True,inplace=True)
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래  구로고  197   90   85  100  95  85      Python
2번    강태원  구로고  184   40   35   50  55  25        Java
3번    강호림  구로고  168   80   75   70  80  75  javascript
4번    김수진  구로고  187   40   60   70  75  80         NaN
5번    김재욱  구로고  188   15   20   10  35  10         NaN
6번    박동현  단지고  202   80  100   95  85  80           C
7번    박혜정  단지고  188   55   65   45  40  35      PYTHON
8번    승근열  단지고  190  100   85   90  95  95          c#

In [13]:
# 사회 컬럼을 삭제 음악컬럼 추가
# 음악 점수는 과학점수가 80점이상이면 80, 80점 미만이면 65점 입력
# 합계 컬럼을 추가해서 국어 영어 수학 과학 음악으로 추가
# 컬럼의 위치는 음악 과학 바로 뒤로 컬럼 위치 변경
df.drop(labels='사회',axis=1)

       이름   학교    키   국어   영어   수학  과학        SW특기
지원번호
1번    강나래  구로고  197   90   85  100  95      Python
2번    강태원  구로고  184   40   35   50  55        Java
3번    강호림  구로고  168   80   75   70  80  javascript
4번    김수진  구로고  187   40   60   70  75         NaN
5번    김재욱  구로고  188   15   20   10  35         NaN
6번    박동현  단지고  202   80  100   95  85           C
7번    박혜정  단지고  188   55   65   45  40      PYTHON
8번    승근열  단지고  190  100   85   90  95          c#

In [22]:
# 음악 점수는 과학점수가 80점이상이면 80, 80점 미만이면 65점 입력
# 합계 컬럼을 추가해서 국어 영어 수학 과학 음악으로 추가
df['음악'] = 65
df.loc[df['과학'] >=80,'음악'] = 80
a_list = list(df.columns)
# 컬럼의 위치는 음악 과학 바로 뒤로 컬럼 위치 변경
df = df[a_list[1:7]+[a_list[-1]]+a_list[7:-1]]
# 사회삭제
df.drop(labels='사회',axis=1,inplace=True)
df

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_24532\2732786346.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(labels='사회',axis=1,inplace=True)

       학교    키   국어   영어   수학  과학  음악        SW특기
지원번호
1번    구로고  197   90   85  100  95  80      Python
2번    구로고  184   40   35   50  55  65        Java
3번    구로고  168   80   75   70  80  80  javascript
4번    구로고  187   40   60   70  75  65         NaN
5번    구로고  188   15   20   10  35  65         NaN
6번    단지고  202   80  100   95  85  80           C
7번    단지고  188   55   65   45  40  65      PYTHON
8번    단지고  190  100   85   90  95  80          c#