In [43]:
import pandas as pd
df = pd.read_csv('chipotle.tsv',sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
# 기초 데이터 탐색
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [5]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [6]:
df.shape

(4622, 5)

In [7]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [10]:
df.describe()

          quantity
count  4622.000000
mean      1.075725
std       0.410186
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max      15.000000

In [9]:
df['order_id'] = df['order_id'].astype(str)

In [40]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [49]:
import pandas as pd
df = pd.read_csv('chipotle.tsv',sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [70]:
# 주문 당 평균 계산금액을 출력하시오.
df['item_price']=df['item_price'].replace("$","").astype(float)
# df.groupby('order_id')['item_price'].mean()
df
df.groupby('order_id')['item_price'].sum().mean()
df_sum = df.groupby('order_id').sum()
df_sum[df_sum['item_price']>=10]

,quantity,item_name,choice_description,item_price
order_id,,,,
1,4,Chips and Fresh Tomato SalsaIzzeNantucket Nect...,[Clementine][Apple],11.56
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
3,2,Chicken BowlSide of Chips,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",12.67
4,2,Steak BurritoSteak Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",21.00
5,2,Steak BurritoChips and Guacamole,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",13.70
...,...,...,...,...
1830,2,Steak BurritoVeggie Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",23.00
1831,3,Carnitas BowlChipsBottled Water,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",12.90
1832,2,Chicken Soft TacosChips and Guacamole,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",13.20
1833,2,Steak BurritoSteak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",23.50
1834,3,Chicken Salad BowlChicken Salad BowlChicken Sa...,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",28.75

In [73]:
# 한 주문에 10달러 이상 사용한 주문번호를 출력하시오.
df_sum = df.groupby('order_id').sum()
df_sum[df_sum['item_price']>=10].sort_values('item_price',ascending=False).head()['item_price']

order_id
926     205.25
1443    160.74
1483    139.00
691     118.25
1786    114.30
Name: item_price, dtype: float64

In [82]:
#item당 주문갯수 출력/ 주문갯수, 주문갯수의 합
df.groupby('item_name')['order_id'].count()
df[df['item_name'] == '6 Pack Soft Drink '].sort_values('quantity',ascending=False)
df.groupby('item_name')['order_id'].count().head(10)

item_name
6 Pack Soft Drink     4622
Name: order_id, dtype: int64

In [107]:
# 각 아이템의 가격 구하시오
# 주문 1개이면서 item_name 최저가격인 것을 출력하시오.
import pandas as pd
df = pd.read_csv('chipotle.tsv',sep='\t')
df.groupby('item_name').count()

qu_df = df[df['quantity'] == 1]
groupby_df = qu_df.groupby('item_name').min()
groupby_df.sort_values('item_price')

,order_id,quantity,choice_description,item_price
item_name,,,,
Canned Soda,14,1,[Coca Cola],$1.09
Bottled Water,17,1,NaN,$1.09
Canned Soft Drink,114,1,[Coke],$1.25
Side of Chips,3,1,NaN,$1.69
Chips,19,1,NaN,$1.99
Chicken Bowl,3,1,"[Fresh Tomato (Mild), [Guacamole, Rice]]",$10.58
Chicken Burrito,8,1,"[Fresh Tomato (Mild), [Black Beans, Rice, Sour...",$10.58
Chicken Soft Tacos,6,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$10.98
Veggie Burrito,26,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Faji...",$10.98
Veggie Bowl,28,1,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Blac...",$10.98
Chicken Salad,109,1,"[Fresh Tomato Salsa (Mild), Black Beans]",$10.98
Chicken Crispy Tacos,6,1,"[Fresh Tomato Salsa (Mild), Fajita Veggies]",$10.98
Barbacoa Burrito,11,1,"[Fresh Tomato (Mild), [Black Beans, Rice, Sour...",$11.08
Steak Burrito,4,1,[Brown Rice],$11.08
Carnitas Bowl,17,1,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Ric...",$11.08
Carnitas Burrito,14,1,"[Fresh Tomato (Mild), [Lettuce, Black Beans, G...",$11.08
Steak Bowl,25,1,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Pin...",$11.08
Chicken Salad Bowl,20,1,"[Fresh Tomato Salsa, Fajita Vegetables]",$11.25
Veggie Salad Bowl,83,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$11.25
Veggie Soft Tacos,304,1,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$11.25
Barbacoa Soft Tacos,26,1,"[Fresh Tomato Salsa, [Black Beans, Cheese, Let...",$11.48
Barbacoa Crispy Tacos,75,1,"[Fresh Tomato Salsa, Guacamole]",$11.48
Barbacoa Bowl,19,1,"[Fresh Tomato (Mild), [Lettuce, Black Beans, R...",$11.48
Steak Soft Tacos,4,1,"[Fresh Tomato Salsa (Mild), [Cheese, Sour Cream]]",$11.48
Carnitas Crispy Tacos,230,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.75
Steak Crispy Tacos,40,1,"[Fresh Tomato (Mild), [Lettuce, Cheese]]",$11.75
Carnitas Soft Tacos,103,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$11.75
Carnitas Salad Bowl,468,1,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.89
Barbacoa Salad Bowl,501,1,"[Fresh Tomato Salsa, Guacamole]",$11.89
Steak Salad Bowl,250,1,"[Fresh Tomato Salsa, Lettuce]",$11.89
Chips and Fresh Tomato Salsa,1,1,NaN,$2.29
Chips and Tomatillo-Green Chili Salsa,1,1,NaN,$2.39
Chips and Tomatillo-Red Chili Salsa,130,1,NaN,$2.39
Chips and Roasted Chili-Corn Salsa,85,1,NaN,$2.39
Chips and Tomatillo Red Chili Salsa,49,1,NaN,$2.95
Chips and Roasted Chili Corn Salsa,102,1,NaN,$2.95
Chips and Tomatillo Green Chili Salsa,18,1,NaN,$2.95
Chips and Mild Fresh Tomato Salsa,279,1,NaN,$3.00
Nantucket Nectar,1,1,[Apple],$3.39
Izze,1,1,[Blackberry],$3.39
Chips and Guacamole,5,1,NaN,$3.89
6 Pack Soft Drink,129,1,[Coke],$6.49
Crispy Tacos,217,1,[Adobo-Marinated and Grilled Chicken],$7.40
Burrito,214,1,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",$7.40
Bowl,279,1,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40
Salad,575,1,"[Brown Rice, Adobo-Marinated and Grilled Chick...",$7.40
Veggie Crispy Tacos,668,1,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49
Veggie Salad,686,1,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
Steak Salad,276,1,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$8.69
Carnitas Salad,1500,1,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.99

In [127]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [137]:
# 가장 비싼 주문에서 item이 총 몇 개 주문되었는 지 출력
# 가장 높은 금액으로 주문한 주문번호, 수량, 금액을 출력
# 주문 중 가장 높은 금액의 수량과 금액을 출력

# df
# df['item_price']=df['item_price'].replace("$","").astype(float)
# high=df['item_price'].max()
# high[high['item_price'],['order_id','quantity','item_price']]

df.groupby('order_id')[['order_id','quantity','item_price']].sum().sort_values('item_price',ascending=False)

          order_id  quantity  item_price
order_id
113            226         2       10.08
1122          2244         2       10.08
100            200         2       10.08
1494          2988         2       10.08
1475          2950         2       10.08
...            ...       ...         ...
1786         19646        20      114.30
691           7601        11      118.25
1483         20762        14      139.00
1443         10101        35      160.74
926          21298        23      205.25

[1834 rows x 3 columns]

In [155]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [160]:
# chicken bowl을 한 주문에 2개 이상 주문한 횟수가 몇 번인지 출력
chicken= df[df['item_name'] == 'Chicken Bowl']
len(chicken[chicken['quantity'] >=2])

# chicken bowl의 총 매출액
chicken_sum = chicken['item_price'].sum()
all_sum = df['item_price'].sum()
# chicken bowl은 총매출액의 몇 %가 되는 지 출력
chicken_sum/all_sum*100

21.283176657731442

34500.16