In [15]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col = '지원번호')
df.sort_index(ascending=True,inplace=True)

In [16]:
# 컬럼추가는 없는 컬럼에 데이터를 입력하면 추가가 됨
df['합계'] = df['국어'] +df['영어'] +df['수학']+df['과학']+df['사회']

In [17]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기   합계
지원번호
1번    강나래  구로고  197   90   85  100  95  85      Python  455
2번    강태원  구로고  184   40   35   50  55  25        Java  205
3번    강호림  구로고  168   80   75   70  80  75  javascript  380
4번    김수진  구로고  187   40   60   70  75  80         NaN  325
5번    김재욱  구로고  188   15   20   10  35  10         NaN   90
6번    박동현  단지고  202   80  100   95  85  80           C  440
7번    박혜정  단지고  188   55   65   45  40  35      PYTHON  240
8번    승근열  단지고  190  100   85   90  95  95          c#  465

In [18]:
df['국어'] = df['국어']  - 10

In [19]:
# 학교이름 수정
df['학교'].replace({'구로고등학교등학교':'디지털고',"단지고등학교등학교":"영등포고"},inplace=True)
df

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_20764\546057566.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['학교'].replace({'구로고등학교등학교':'디지털고',"단지고등학교등학교":"영등포고"},inplace=True)

       이름   학교    키  국어   영어   수학  과학  사회        SW특기   합계
지원번호
1번    강나래  구로고  197  80   85  100  95  85      Python  455
2번    강태원  구로고  184  30   35   50  55  25        Java  205
3번    강호림  구로고  168  70   75   70  80  75  javascript  380
4번    김수진  구로고  187  30   60   70  75  80         NaN  325
5번    김재욱  구로고  188   5   20   10  35  10         NaN   90
6번    박동현  단지고  202  70  100   95  85  80           C  440
7번    박혜정  단지고  188  45   65   45  40  35      PYTHON  240
8번    승근열  단지고  190  90   85   90  95  95          c#  465

In [24]:
# 컬럼 전체 수정
df['SW특기'] = df['SW특기'].str.upper()
df
# 컬럼부분 삭제
df.drop(columns='사회',inplace=True)

KeyError: "['사회'] not found in axis"

In [33]:
# 컬럼부분 삭제
import pandas as pd
df = pd.read_excel('score.xlsx',index_col = '지원번호')
df.sort_index(ascending=True,inplace=True) 
df.drop(columns=['국어','과학'],inplace=True)
df
df['학교'].value_counts()

학교
구로고    5
단지고    3
Name: count, dtype: int64

In [34]:
for df in df.values:
    print(df)

['강나래' '구로고' 197 85 100 85 'Python']
['강태원' '구로고' 184 35 50 25 'Java']
['강호림' '구로고' 168 75 70 75 'javascript']
['김수진' '구로고' 187 60 70 80 nan]
['김재욱' '구로고' 188 20 10 10 nan]
['박동현' '단지고' 202 100 95 80 'C']
['박혜정' '단지고' 188 65 45 35 'PYTHON']
['승근열' '단지고' 190 85 90 95 'c#']